<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
    </div>
  </div>
  <div class="col-md-6">
    <h4>Users List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let User of Users; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveUser(User, i)"
      >
        {{ User.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <app-User-details
      [viewMode]="true"
      [currentUser]="currentUser"
    ></app-User-details>
  </div>
</div>
